body {
  background: #eee;
  color: #000;
  font-family: Arial;
  margin: 0;
}

nav {
  text-align: center;
  padding: 10px;
}

nav a {
  color: blue;
  margin: 5px;
  text-decoration: none;
}

main {
  padding: 10px;
}

img {
  width: 45%;
  display: block;
  margin: 0 auto;
}

.recipe-card {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

.price {
  font-weight: bold;
}