<%- include('partials/header') %>
<main>
<section class="gullfoss-detail">
    <div>
        <h2>details about Gullfoss</h2>
        <img src="/img/Gullfoss.jpg" alt="Gullfoss waterfall">
        <p>Gullfoss, meaning “Golden Falls,” is a massive two stage waterfall on the Hvítá River, 
            fed by meltwater from the Langjökull glacier. 
            The upper drop is about 11 meters, and the lower drop is 21 meters, 
            plunging into a rugged canyon roughly 32 meters deep. On sunny days, 
            the mist often creates bright rainbows over the falls. </p>
            <a href="/">← Til baka</a>
    </div>
    </section>
</main>
<%- include('partials/footer') %>
