<%- include('partials/header') %>

<section class="hero-section">
  <div class="hero-content">
    <h2>Velkomin</h2>
    <p>Veldu síðu úr valmyndinni hér að ofan.</p>
  </div>
</section>

<%- include('partials/footer') %>