<%- include('partials/header') %>

<section class="hero-section">
  <div class="hero-content">
    <h2>Matseðill FB</h2>
    <p>Dæmi um matseðil</p>
  </div>
</section>

<div class="recipe-card">
      <div class="card-info">
        <h4>Hamborgari</h4>
        <p>Verð: 2.500 kr</p>
      </div>
    </div>

    <div class="recipe-card">
      <div class="card-info">
        <h4>Pizza</h4>
        <p>Verð: 3.000 kr</p>
      </div>
    </div>

    <div class="recipe-card">
      <div class="card-info">
        <h4>Pasta</h4>
        <p>Verð: 2.800 kr</p>
      </div>
    </div>
</section>

<%- include('partials/footer') %>
